<!doctype html>
<html lang="en">
	<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Cormorant400,400i,600|Prata" rel="stylesheet">
	<link rel="stylesheet" href="static/prata.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<title>Brightfield</title>
	</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
	<a class="navbar-brand prata28" href={{"/land"}}>Brightfield Analytics</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					 <a class="nav-link prata20w" href={{"/about"}}>About</a>
	  			</li>
				<li class="nav-item active">
				 <a class="nav-link prata20w" href={{"/analytics"}}>Analytics</a>
				</li>
				<li class="nav-item active">
				 <a class="nav-link prata20w" href={{"/applications"}}>Applications</a>
				</li>
				<li class="nav-item active">
				 <a class="nav-link prata20w" href={{"/contact"}}>Contact</a>
				</li>
			</ul>
		</div>
	</nav>
<div class="container">
	<div class='padder2'>
		<h1 class = "prata42">Typical Retail Store Applications</h1>
		<hr>
		<div>
			<p class = "prata28">Two Examples</p>
		</div>
		<div class="row">
			<div class="col">
				<p class = "prata24">Retail Store Sales Forecast</p>
			</div>
			<div class="col">
				<p class = "prata24">Customer Reasons For Purchase</p>
			</div>
		</div>
		<hr>
	</div>
	<div class="padder">
	<div class="row">
		<div class="col">
			<h1 class = "prata28">Retail Store Sales Forecast</h1>
			<p class = "prata20j">This regional chain of retail stores carries a large inventory list of consumer perishables sold retail in metropolitan areas.  Over-forecasting caused profit robbing spoilage and under-forecasting caused lost sales and degraded customer loyalty.</p>
			<p class = "prata20j">Using records of daily individual transactions by product type from accounting records, records of promotions by the company and competitors from marketing and downloadable weather records and census data, an embedded and continuous dependent variable data set is assembled from the different data types and a projection of daily sales using a dense neural network has reached an average 92% accuracy.  This has reduced spoilage costs, identified profitable promotions and gauged competitive locations.</p>
		</div>
		<div class="col">
			<h1 class = "prata28">Customer Order Placement</h1>
			<p class = "prata20j">This manufacturer of data center infrastructure distributed their product through non-exclusive dealer installers who maintained the primary contact with the customers.  The inability to forecast the customer about to purchase and the dealer about to be awarded the order resulted in support resources being misapplied with the ensuing constant short-term scramble to apply sales and technical support as required.</p>
			<p class = "prata20j">Several data sets were combined to form a predictive ensemble using satisfaction scores, customer website activity, dealer qualifications and prior sales patterns concatenated into embedded time, continuous variables and embedded categories as the input which then rendered to a classification system for prediction.  This resulted in being able to predict order placement within a 30 day window and the most likely dealer by award probability improving resource allocations. </p>
		</div>
	</div>
	</div>
	<div class="padder">
	<hr>
	<div class="row">
		<div class="col">
			<h1 class = "prata28">Commodity Part Pricing</h1>
			<p class = "prata20j">A non-exclusive distributor of commodity 	electronic parts with repetitive transactions hourly engaging 	multiple customers required a method to alter prices according to predetermined ranges with constant alarming for management 	intervention. Analysis had shown significant opportunity losses as a result of slow pricing responses.</p>
			<p class="prata20j">The requirement mandated real time data streaming, fast processing and good visualization. The methods used were based on real time projections of elasticity, volume and price that alarmed when any metric over/under performed expectations. The computed results were forwarded to a commercial visualization package under the client's management.</p>
		</div>
		<div class="col">
			<h1 class="prata28">Dealer Performance Forecasts</h1>
			<p class="prata20j">A manufacturer of complex electonics that distributed its product through a large network of highly trained installing dealers was unable to predict dealers likely to over perform or under perform historical trends.  A major operating expense was supporting the dealers which funds could not be allocated according to need or opportunity.  Each quarter a different dealer was the best or worst performing.
			<p class="prata20j">A predictive ensemble using many disparate data sets from both public and private resources were combined together to form a quarterly sales forecast that successfully identified the next quarter performance.  The client allocated resources to correct likely shortfalls and pull in opporunties adding to sales growth and reducing volatility.
		</div>
	</div>
	</div>
<div class="padder">
<footer class='footer'>
   <a class="prata20w">Take A Step Up To Deep Learning</a>
</footer>
</div>
</div>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>
