<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Cormorant400,400i,600|Prata" rel="stylesheet">
<link rel="stylesheet" href="static/prata.css">

<title>Contact</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
	<a class="navbar-brand prata28" href={{"/land"}}>Brightfield Analytics</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					 <a class="nav-link prata20w" href={{"/about"}}>About</a>
	  			</li>
				<li class="nav-item active">
				 <a class="nav-link prata20w" href={{"/analytics"}}>Analytics</a>
				</li>
				<li class="nav-item active">
				 <a class="nav-link prata20w" href={{"/applications"}}>Applications</a>
				</li>
				<li class="nav-item active">
				 <a class="nav-link prata20w" href={{"/contact"}}>Contact</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
	<div class='padder3'>
	  <h1 class="prata28">Dennis Graham</h1>
		<p class="corm20">I am the founder of Brightfield Analytics.  I have invested over 35 years in business startups, acquisitions, divestitures and early stage company development. That work required many business plans, budgets, valuations, cash flows, debt sources and equity placements.</p>
		<p class="corm20">The problem was always the sales forecast.  A few years ago, I began studying machine learning and deep learning to solve this recurring problem.  Eventually, I began applying deep learning solutions and found that the results were not just about accurate predictions but accurate customer information to build marketing and loyalty programs also.</p>
		<p class="corm20">I invite you to contact us so that we may share our results in greater detail with you.</p>
		<div class="padder">
			<h1 class="prata42">Contact Information</h1>
			<p class="prata20"><a class="btn btn-primary prata20" href="mailto:dennis.graham@brtfld.com" role="button">Email Me</a></p>
		</div>
			<hr>
		</div>
		<div class="row">
			<div class="col">
				<h2 class="prata28l">Dr. Benzi Kluger</h2>
				<h2 class ="prata20l">Professor Of Neurology</h2>
				<h2 class="prata20l">University Of Colorado</h2>
				<h2 class ="prata20l">Anshutz Medical Center</h2>
				<p class="corm20">"I worked with Denny over the past year on a novel application of machine learning to understand whether changes in brain activity, as measured by magnetoencephalography (MEG) a form of functional brain imaging, could be used as a diagnostic tool for Parkinson's disease and related disorders. Denny brought incredible energy and expertise to this issue, tested multiple methods of machine learning, and worked closely with me and other members of my research team to ensure that we had a suitable result. We are now working on wrapping up several papers for publication and planning to submit new grants based on this work. I look forward to continue working with Denny and would highly recommend him to others looking to incorporate machine learning into their research."</p>
			</div>
			<div class="col">
				<h2 class="prata28l">Joe Bruketta</h2>
				<h2 class ="prata20l">Founder</h2>
				<h2 class="prata20l">Chief Evangelist</h2>
				<h2 class ="prata20l">Business Development</h2>
				<p class="corm20">"Denny has a deep understanding of business and business-practices which make him unique among data scientists. He drives at getting to the core question that needs to be answered and then, using the rigor of applied mathematics, develops or modifies algorithms that yield results."</p>
			</div>
		</div>

	<div>
	<footer class="footer">
		<a class = 'prata20w' href="/land">Home</a>
	</footer>
	</div>
</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
